<h1><%= @project.name %></h1>

<ul>
	<% @project.entries.each do |entry| %>
	<li>
		<%= entry.hours %> h
		<%= entry.minutes %> m
		<%= link_to("Edit", edit_project_entry_path(@project, entry)) %>
	</li>
	<% end %>
</ul>

<%= link_to("Projects Page", projects_path) %>
<%= link_to("New Entry", new_project_entry_path(@project)) %>