<h1>Welcome to the Ironhack Music Network</h1>

<% if user_signed_in? %>

	<%= link_to("Log Out", destroy_user_session_path, :class => "btn btn-danger", :method => "delete") %>

<% else %>

	<%= link_to("Sign Up", new_user_registration_path, :class => "btn btn-primary") %>

	<br>
	<br>

	<%= link_to("Log In", new_user_session_path, :class => "btn btn-primary") %>

<% end %>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<ul>
				<% @concerts_today.each do |concert| %>
				<li>
					<%= link_to("#{concert.artist} at #{concert.venue} in #{concert.city}", concert_path(concert)) %>
				</li>
				<% end %>
			</ul>
		</div>

		<div class="col-sm-3 right-side">
			<ul>
				<% @concerts_this_month.each do |concert| %>
				<li>
					<%= link_to("#{concert.artist} at #{concert.venue} in #{concert.city}", concert_path(concert)) %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<%= link_to("Search for Concert", "/concerts/search", :class => "btn btn-primary") %>

<br>
<br>

<%= link_to("Popular Concerts", "/concerts/popular", :class => "btn btn-primary") %>

<br>
<br>

<%= link_to("Add a new concert", new_concert_path, :class => "btn btn-primary") %>
