<h2>Artist: <%= @concert.artist %></h2>

<h3>Details: </h3>

<ul>
	<li>
		Venue: <%= @concert.venue %>
	</li>
	<li>
		City: <%= @concert.city %>
	</li>
	<li>
		Date: <%= @concert.date %>
	</li>
	<li>
		Price: <%= @concert.price %>
	</li>
	<li>
		Description: <%= @concert.description %>
	</li>
</ul>