<p>Name: <%= @contact.name %></p>
<p>Address: <%= @contact.address %></p>
<p>Phone Number: <%= @contact.phone_number %></p>
<p>Email: <%= @contact.email %></p>
<p>Status: <%= @contact.status %></p>

<form>
	<button type="submit"></button>
</form>