<h1>Sign up!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :username %>
  <br>
  <br>

  Email: <%= f.text_field :email %>
  <br>
  <br>

  Password: <%= f.password_field :password %>
  <br>
  <br>

  Password Confirmation:
  <%= f.password_field :password_confirmation %>
  <br>
  <br>

  <%= f.submit "Submit" %>

<% end %>