
<% if user_signed_in? %>
	<h1><%= @product.title %></h1>
	<h2><%= @product.description %></h2>
	<p>The deadline is: <%= @product.deadline %></p>

	<ul>
		<% @product.reviews.each do |review| %>
		<li>
			<%= review.description %>
		</li>
		<% end %>
	</ul>


<% else %>
	<p>Log in or Sign up to review our products</p>
<% end %>


<%= form_for @review, :url => { :controller => "reviews", :action => "create" } do |f| %>
	<%= f.label :description %>
  	<br>
 	<%= f.text_area :description %>
  	<br>

  	<%= f.submit "Submit" %>

<% end %>